<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.customer.mapper.StoreMapper">

    <select id="selectList"
            parameterType="com.zerobase.customer.mapper.StoreMapper"
            resultType="com.zerobase.domain.dto.common.StoreDto">
        
        select *
        from store
        where 1=1

          <if test="name != null and name != ''">
              and name like concat('%', #{name}, '%')
          </if>

        order by
          <choose>
            <when test="sort == 'name'">
                name ASC
            </when>
            <otherwise>
                registration_date DESC
            </otherwise>
          </choose>

    </select>


</mapper>