<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, .detail table td {
            border: solid 1px #000;
        }
        .action-buttons {
            display: inline-block;
            padding: 10px 20px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('form[name=deleteForm]').on('submit', function() {
                if(!confirm('매장을 삭제하시겠습니까?')) {
                    return false;
                }
            });

        });
    </script>
</head>
<body>
    <h1>매장 관리</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

    <div class="detail" th:if="${store != null}">
        <table>
            <tbody>
                <tr>
                    <th>이름</th>
                    <td>
                        <p th:text="${store.name}"></p>
                    </td>
                </tr>
                <tr>
                    <th>별점</th>
                    <td>
                        <p th:text="${store.averageScore}"></p>
                    </td>
                </tr>
                <tr>
                    <th>위치</th>
                    <td>
                        <p th:text="${store.location}"></p>
                    </td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>
                        <p th:text="${store.description}"></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="action-buttons">
            <a th:href="@{/store/edit}" class="edit-button">수정하기</a>

            <form name="deleteForm"  th:action="@{/store/delete}" method="post" style="display: inline;">
                <input th:value="${store.id}" type="hidden" name="id"/>
                <button type="submit" class="delete-button">삭제하기</button>
            </form>
        </div>
    </div>
    <div th:if="${store == null}">
        <p>등록된 매장이 없습니다.</p>
        <a th:href="@{/store/register}">매장 등록</a>
    </div>
</body>
</html>