<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매장 수정</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, .detail table td {
            border: solid 1px #000;
        }
    </style>
	<script>
		function validateForm(event) {
			var openTime = document.getElementById("openTime").value;
			var closeTime = document.getElementById("closeTime").value;

			if (openTime >= closeTime) {
				alert("마감 시간은 오픈 시간 이후여야 합니다.");
				event.preventDefault();
				return false;
			}
			return true;
		}
	</script>

</head>
<body>
    <h1>매장 수정</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

    <form th:action="@{/store/update}" method="post" onsubmit="return validateForm(event)">
        <input th:value="${store.id}" type="hidden" name="id"/>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" th:value="${store.name}" required>
        </div>
        <div>
            <label for="openTime">오픈 시간</label>
            <input type="time" id="openTime" name="openTime" th:value="${store.openTime}" required />
        </div>
        <div>
            <label for="closeTime">마감 시간</label>
            <input type="time" id="closeTime" name="closeTime" th:value="${store.closeTime}" required />
        </div>
        <div>
            <label for="location">위치</label>
            <input type="text" id="location" name="location" th:value="${store.location}" required>
        </div>
        <div>
            <label for="description">설명</label>
            <textarea id="description" name="description" rows="5" required th:text="${store.description}"></textarea>
        </div>
        <button>저장</button>
        <a href="/store/detail">취소</a>
    </form>
</body>
</html>