<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
        .inline-div {
            display: inline-block;
        }
    </style>

</head>
<body>
    <h1>매장 관리</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

</body>
</html>