<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매장 등록</title>
	<script>
		function validateForm(event) {
			var openTime = document.getElementById("openTime").value;
			var closeTime = document.getElementById("closeTime").value;

			if (openTime >= closeTime) { // 마감시간이 오픈시간보다 이전 시간이면 폼 제출 실패
				alert("마감 시간은 오픈 시간 이후여야 합니다.");
				event.preventDefault();
				return false;
			}
			return true;
		}
	</script>
</head>
<body>
    <h1>매장 등록</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

	<div th:if="${errorMessage}">
		<p th:text="${errorMessage}"></p>
	</div>

	<form method="post" onsubmit="return validateForm(event)">
		<div>
			<input type="text" name="name" placeholder="이름 입력" required/>
		</div>
		<div>
			<label for="openTime">오픈 시간</label>
			<input type="time" id="openTime" name="openTime" required />
		</div>
		<div>
			<label for="closeTime">마감 시간</label>
			<input type="time" id="closeTime" name="closeTime" required />
		</div>
		<div>
			<input type="location" name="location" placeholder="위치 입력" required/>
		</div>
		<div>
			<input type="description" name="description" placeholder="설명 입력" required/>
		</div>

		<div>
			<button>매장 등록</button>
		</div>
	</form>

</body>
</html>