<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, .detail table td {
            border: solid 1px #000;
        }
        .action-buttons {
            display: inline-block;
            padding: 10px 20px;
        }
    </style>

    <script>
        function validateForm(event, storeId) {
            var customerId = document.querySelector('[name="customerId"]').value;
            if (!customerId || customerId.trim() === "") {
                alert("로그인 후 예약해주세요.");
                event.preventDefault();  // 폼 제출 방지
            } else {
                // customerId가 있는 경우, 예약 페이지로 이동
                window.location.href = '/store/booking?storeId=' + storeId;
            }
        }
    </script>
</head>
<body>
    <h1>매장 관리</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

    <div class="detail" th:if="${store != null}">
        <table>
            <tbody>
                <tr>
                    <th>이름</th>
                    <td>
                        <p th:text="${store.name}"></p>
                    </td>
                </tr>
                <tr>
                    <th>위치</th>
                    <td>
                        <p th:text="${store.location}"></p>
                    </td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>
                        <p th:text="${store.description}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="customerId" th:value="${customerId}" />

    <div>
        <button type="button" th:onclick="|validateForm(event, '${store.id}')|">예약하기</button>
    </div>

</body>
</html>