<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>매장 목록</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
    </style>
</head>
<body>
<h1>매장 목록</h1>
	<div th:replace="/fragment/layout.html :: fragment-body-menu"></div>

    <form method="get" action="/store/list">
        <input type="text" name="name" placeholder="가게 이름 검색" th:value="${param.name}">

        <select name="sort">
            <option value="latest" th:selected="${param.sort == null or param.sort == 'latest'}">최신 등록순</option>
            <option value="name" th:selected="${param.sort == 'name'}">이름순</option>
        </select>

        <button type="submit">검색</button>
    </form>

    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>위치</th>
                    <th>설명</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="store : ${storeList}">
                    <td th:text="${store.id}"></td>
                    <td>
                        <a th:text="${store.name}"
                           th:href="${'/store/detail?id=' + store.id}">
                        </a>
                    </td>
                    <td th:text="${store.location}"></td>
                    <td th:text="${store.description}"></td>
                </tr>
                <tr th:if="${#lists.size(storeList) < 1}">
                    <td colspan="4">
                        <p class="nothing">내용이 없습니다.</p>
                    </td>
                </tr>
        </table>

    </div>

</body>
</html>